	*{
          background: #778899;
 	      margin:0;
             padding:0; 
          box-sizing: border-box;
         	 }

	body{max-width:1600px; max-height:1000px;}
	html{background:white;}

/*Dados Cabeçalho e menu da página*/
			
		#cx1{
		      position:relative;
		       padding: 5px;
			 width:100%;
			height:120px;
		    background: #2F4F4F;
			   top:10px;			
			      }

			h1{
		height:80px;
		 width:100%; 
		 margin-top: 10px; 
		padding: 20px 10px 10px 30px; 
		color: white; 
		font-size: 45px; 
		 background: #2F4F4F;
		text-align:center;
		 	}

			#cx2{
		      position:relative;
		       padding: 10px;
			 width:100%;
			height:auto;
          	    margin-top:10px;		  
		  		     }

			.link-header{    
					position:relative;
				    margin-top:30px;               			 
				    margin-left:50px;
                      		      font-size:30px; 
                     		    font-weight: bold; 
                     		    line-height: 30px; 
		         	         cursor: pointer;			
                              			}
				
/*Efeito hover do menu da página*/

		  .link-header:hover{ 
				      color:white;
					opacity:0.5;                 		                     		    
		         	           }			

/*Parte central da página*/

		.caixa-central{
				top:10px;
				height:450px;
				 width:100%;
		   	      position:relative;			      
					}

			img{
				 margin-top:10px;
			        margin-left:30px;
				     border:2px solid #000000;
					 }

			#cx3{
				position:absolute;
				     top:20px;
				    right:30px;
				   width:45%;
				  height:420px;
					  }    
  
			h2{
		    font-size:60px;
		display: inline-block;
		margin-top:20px;
	    margin-left:22%;
		text-align: center;
		  }

		h3{ 
		    font-size:60px;
		      display: inline-block;
		   margin-top:40px;
 		  margin-left:10%;
			width:80%;
		   text-align: center;
		        color: black;
			       	}	

/*Informações rodapé*/
			
		#cx4{
		font-size:30px;
		 position:relative;
		      top: 10px;
		    width:100%;
		   height:160px;
	       background: #2F4F4F;	      
				}  
				
				#filho-cx4{
				 	    background: #2F4F4F;
						 width:25%;									  
						 	}

			  P{
				background: #2F4F4F;
		       		     color:white;
				margin-top:10px;
		      	       margin-left:40px;
			 	     width:250px;
				  position:absolute;			
			  		}

		     #youtube{	
			       height:80px;
				width:80px;
                           margin-top:30px;				
			   background: #2F4F4F;
			       border:none;
					}

		#instagran{	
			       height:80px;
				width:80px;				
			   margin-top:30px;				
			   background: #2F4F4F;
			       border:none;
					}
	
		#whatsaap{	
			       height:80px;
				width:80px;				
			   margin-top:30px;				
			   background:#2F4F4F;
			       border:none;
					}

			h4{
			     font-size:80px;
				 color:white;
			    background: #2F4F4F;
				 width:570px;
				  left:500px;
				  top:20px;
			     position:absolute;						
				     }

			h5{
			    font-size:30px;
				color:white;
			   background: #2F4F4F;
				width:25%;
				right:20px;
				  top:20px;
			     position:absolute;
					}

/*Efeitos hover - Rodapé */
		
			#instagran:hover{
					   margin-top:15px;
					       height:100px;
					        width:100px;
					      opacity:0.5;
				      -moz-box-shadow:0 3px 10px 0 #CCC;
		                   -webkit-box-shadow:0 3px 10px 0 #ccc;
			                  text-shadow:0px 0px 5px #fff;
					       cursor:pointer;
							}

			#whatsaap:hover{
					  margin-top:15px;
					      height:100px;
					       width:100px;
					     opacity:0.5;
				     -moz-box-shadow:0 3px 10px 0 #CCC;
		                  -webkit-box-shadow:0 3px 10px 0 #ccc;
			                 text-shadow:0px 0px 5px #fff;
			                      cursor:pointer;
							}
		#youtube:hover{
				margin-top:15px;
				    height:100px;
				     width:100px;
				   opacity:0.5;
			   -moz-box-shadow:0 3px 10px 0 #CCC;
		        -webkit-box-shadow:0 3px 10px 0 #ccc;
			       text-shadow:0px 0px 5px #fff;
				    cursor:pointer;
					  }	

/*Configuração da tela menor - Cabeçalho*/

		@media screen and (max-width:1300px){

					body{max-width:1000px; max-height:700px;}
				/*body{max-width:1600px; max-height:1000px;} atual*/
							
				    #cx1{
   					 position:relative;
		     			  padding: 3px;
					    width:100%;
			                   height:80px;
		                       background: #2F4F4F;
			                      top:5px;			
			    			  }

		/*#cx1{ position:relative; padding: 5px;width:100%;height:120px;background: #2F4F4F;top:10px;} atual*/

				     h1{
					height:60px;
					 width:100%; 
					 margin-top: 10px; 
					padding: 12px 7px 7px 17px; 
					color: white; 
					font-size: 27px; 
		 			background: #2F4F4F;
					text-align:center;
		 					}

	/*h1{height:80px; width:100%; margin-top: 10px; padding: 20px 10px 10px 30px; color: white; font-size: 50px;background: #2F4F4F;text-align:center;} atual*/

					#cx2{
		     				position:relative;
		      				 padding: 7px;
						   width:100%;
						  height:auto;
          	    			      margin-top:7px;		  
		  		    			 }
		/*#cx2{ position:relative; padding: 10px; width:100%;height:auto; margin-top:10px;} atual*/

			.link-header{    
					position:relative;
				    margin-top:17px;               			 
				    margin-left:27px;
                      		      font-size:20px; 
                     		    font-weight: bold; 
                     		    line-height: 30px; 
		         	         cursor: pointer;			
                              			}

	/*.link-header{position:relative;margin-top:30px;margin-left:50px;font-size:30px;font-weight: bold;line-height: 30px; cursor: pointer;} atual*/

	/*Configuração da tela menor - Parte central da página*/

		.caixa-central{
				top:10px;
				height:400px;
				 width:100%;
		   	      position:relative;			      
					}
	/*.caixa-central{top:10px;height:450px; width:100%;position:relative;} atual*/

				img{
				     height:90%;
				     width:50%;
				 margin-top:10px;
			        margin-left:30px;
				     border:2px solid #000000;
					 }
				
		/*img{margin-top:10px;margin-left:30px;border:2px solid #000000;} atual*/

			#cx3{
				position:absolute;
				     top:20px;
				    right:30px;
				   width:40%;
				  height:320px;
					  }

		/*#cx3{position:absolute;top:20px;right:30px;width:45%;height:420px;} atual*/

				h2{
		    			font-size:35px;
					display: inline-block;
					margin-top:20px;
	    				margin-left:22%;
					text-align: center;
		 					 }
		/*h2{font-size:60px;display: inline-block;margin-top:20px;margin-left:22%;text-align: center;} atual*/

					h3{ 
		    				font-size:35px;
		  				    display: inline-block;
		  				 margin-top:40px;
 						  margin-left:10%;
						width:80%;
		  				 text-align: center;
		      				  color: black;
			     				  	}
		/*h3{font-size:60px;display: inline-block;margin-top:40px;margin-left:10%;width:80%;text-align: center;color: black;} atual*/

/*Configuração da tela menor - Informações rodapé*/

					#cx4{
						font-size:30px;
		 				position:relative;
		   				   top: 10px;
		   				 width:100%;
		  				 height:120px;
	       					background: #2F4F4F;	      
							}   

		/*#cx4{font-size:30px;position:relative;top: 10px;width:100%;height:160px;background: #2F4F4F;} atual*/ 

				#filho-cx4{
				 	    background: #2F4F4F;
						 width:25%;									  
						 	}

		/*#filho-cx4{background: #2F4F4F; width:25%;} atual*/

			  P{
				background: #2F4F4F;
		       		     color:white;
				margin-top:10px;
		      	       margin-left:40px;
			 	     width:250px;
				  position:absolute;
				    font-size: 20px;			
			  		}

		/*P{background: #2F4F4F; color:white;margin-top:10px;margin-left:40px;width:250px;position:absolute;} atual*/

		     				#youtube{	
			      				   height:45px;
						            width:45px;
                                                       margin-top:20px;				
			                               background:#2F4F4F;
			                                   border:none;
					                          }

		/*#youtube{ height:80px;width:80px;margin-top:30px;background: #2F4F4F;border:none;} atual*/


						#instagran{	
			      					 height:45px;
								width:45px;				
			   					margin-top:20px;				
			  					 background: #2F4F4F;
			     					  border:none;
										}

		/*#instagran{ height:80px;width:80px;margin-top:30px; background: #2F4F4F; border:none;} atual*/

	
						#whatsaap{	
			     					height:45px;
								width:45px;				
			  					 margin-top:20px;				
			   					background: #2F4F4F;
			       					border:none;
									}

		/*#whatsaap{height:80px;width:80px;margin-top:30px;background: #2F4F4F;border:none;} atual*/


						h4{
			    				 font-size:40px;
							 color:white;
			    				background: #2F4F4F;
							 width:300px;
				  			left:320px;
				 			 top:20px;
			    				 position:absolute;						
				     					}

		
		/*h4{font-size:80px;color:white;background: #2F4F4F;width:570px;left:500px;top:20px;position:absolute;} atual*/
		

						h5{
			    				font-size:18px;
							color:white;
			  				 background: #2F4F4F;
							width:25%;
							right:20px;
				 			 top:20px;
			     				position:absolute;
									}

		/*h5{font-size:30px;color:white;background: #2F4F4F;width:25%;right:20px;top:20px;position:absolute;} atual*/


/*Configuração da tela menor - Efeitos hover - Rodapé */
		
			#instagran:hover{
					  /* margin-top:15px;*/
					       height:55px;
					        width:55px;
					      opacity:0.5;
				      -moz-box-shadow:0 3px 10px 0 #CCC;
		                   -webkit-box-shadow:0 3px 10px 0 #ccc;
			                  text-shadow:0px 0px 5px #fff;
					       cursor:pointer;
							}

			#whatsaap:hover{
					  /*margin-top:15px;*/
					      height:55px;
					       width:55px;
					     opacity:0.5;
				     -moz-box-shadow:0 3px 10px 0 #CCC;
		                  -webkit-box-shadow:0 3px 10px 0 #ccc;
			                 text-shadow:0px 0px 5px #fff;
			                      cursor:pointer;
							}
		#youtube:hover{
				/*margin-top:15px;*/
				    height:55px;
				     width:55px;
				   opacity:0.5;
			   -moz-box-shadow:0 3px 10px 0 #CCC;
		        -webkit-box-shadow:0 3px 10px 0 #ccc;
			       text-shadow:0px 0px 5px #fff;
				    cursor:pointer;
					  }	
					}
					
/*Configuração da tela menor para celulares - Cabeçalho*/

		@media screen and (max-width:640px){
					
					body{max-width:640px; max-height:auto;}
											
				    #cx1{/*position:relative;*/ padding: 3px;width:100%; height:60px; background: #2F4F4F;top:7px; }
		
				     h1{width:100%; margin-top: 2px; padding: 8px 3px 3px 8px; color: white; font-size: 18px;background: #2F4F4F;text-align:center;}

					#cx2{position:relative; padding: 4px; width:100%; height:auto; margin-top:5px; }

			.link-header{ position:relative; margin-top:10px; margin-left:13px; font-size:15px;font-weight: bold; line-height: 20px; cursor: pointer;}

/*Configuração da tela menor para celulares - Parte central da página*/
					
		.caixa-central{	top:7px; height:200px; width:100%; position:relative;}
				img{ height:85%;width:35%; margin-top:5px;  margin-left:15px; border:2px solid #000000; }

			#cx3{position:absolute;top:3px; right:30px; width:50%;height:160px; }

				h2{font-size:20px;display: inline-block;margin-top:10px;margin-left:20%;text-align: center;}

					h3{ font-size:20px; display: inline-block; margin-top:10px; margin-left:10%;width:80%;text-align: center; color: black;}

					#cx4{font-size:30px;position:relative; top: 10px; width:100%; height:auto;background: #2F4F4F;} 	

				#filho-cx4{ background: #2F4F4F; width:30%;	}

			  P{background: #2F4F4F;
		       		     color:white;
				margin-top:10px;
		      	       margin-left:20px;
			 	     width:250px;
				  position:absolute;
				    font-size: 12px;			
			  		}		

		     				#youtube{ height:42px; width:42px; margin-top:5px; background:#2F4F4F;  border:none; }
							
							#instagran{	 height:42px; width:42px; margin-top:5px; background: #2F4F4F; border:none;}	
						
							#whatsaap{	height:42px; width:42px; margin-top:5px;	background: #2F4F4F;border:none;}

						h4{ font-size:25px; color:white;background: #2F4F4F; width:300px;left:230px; top:20px; position:absolute;}		

						h5{	font-size:12px;	color:white; background: #2F4F4F;width:25%;	right:20px; top:20px;position:absolute;}
		
			#instagran:hover{height:55px; width:55px; opacity:0.5; -moz-box-shadow:0 3px 10px 0 #CCC;-webkit-box-shadow:0 3px 10px 0 #ccc;text-shadow:0px 0px 5px #fff; cursor:pointer;}

			#whatsaap:hover{height:55px; width:55px; opacity:0.5;-moz-box-shadow:0 3px 10px 0 #CCC;-webkit-box-shadow:0 3px 10px 0 #ccc;text-shadow:0px 0px 5px #fff;cursor:pointer;}
			
		#youtube:hover{ height:55px; width:55px;opacity:0.5;-moz-box-shadow:0 3px 10px 0 #CCC;-webkit-box-shadow:0 3px 10px 0 #ccc;text-shadow:0px 0px 5px #fff;cursor:pointer;}	
					}


